
# ValidationResult

## Enum


    * `Ok` (value: `0`)

    * `Invalid` (value: `1`)

    * `Expired` (value: `2`)

    * `TariffLimit` (value: `3`)

    * `UserExisted` (value: `4`)

    * `UserExcluded` (value: `5`)

    * `QuotaFailed` (value: `6`)



